##Assingment 2 Data structure module 2

##Theory

Q.1 What are data structures, and why are they important ?
- Data structures in Python are specialized formats or containers used to store and organize data efficiently.They provide various ways to store, access, and manipulate data according to specific needs.

Q.2 Explain the difference between mutable and immutable data types with examples ?
- Mutable data types can be modified after creation, while immutable data types cannot be changed once created. list, dictionary and set are mutales data types example while string and tuples are both immutable data types.


Q.3 What are the main differences between lists and tuples in Python ?
-  Main differences between both is, Lists are mutable and use square brackets[], while tuples are immutable and use parentheses().

Q.4 Describe how dictionaries store data ?
-  Dictionaries store data like key–value pairs. Key are uniques and having different value.

Q.5 Why might you use a set instead of a list in Python ?
- When uniqueness is required, I prefer using a set rather than a list.

Q.6 What is a string in Python, and how is it different from a list?
- A string is a data type in Python that stores characters and numbers as text, whereas a list can store multiple elements of different data types.


Q.7 How do tuples ensure data integrity in Python ?
- Tuples ensure data integrity in python as tuples are immutable. data modification is not possible in tuples.


Q.8 What is a hash table, and how does it relate to dictionaries in Python ?
-  Hash table is a data structure that stores key–value pairs using a hash function, and Python dictionaries are implemented using hash tables for fast data access.


Q.9 Can lists contain different data types in Python ?
-  Yes, lists contain different data types in Python.


Q.10 Explain why strings are immutable in Python ?
- strings are immutable because of data safety and improve performace by optimise memory usage.


Q.11 What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries offer faster lookup by key as dictionaries can not acceced by indexing so simply acceced by name(key) not by position.

Q.12 Describe a scenario where using a tuple would be preferable over a list ?
- A tuple is preferable over a list when storing fixed, read-only data where values should not change, ensuring data integrity and better performance.


Q.13 How do sets handle duplicate values in Python ?
- Sets store uniqe values so duplicatie values does no make any effect on set, and automatically remove this value.

Q.14 How does the “in” keyword work differently for lists and dictionaries?
- In lists, "in" checks for a value by element, while in dictionaries, "in" checks for a key.


Q.15 Can you modify the elements of a tuple? Explain why or why not?
- No, cannot modify the elements of a tuple because tuples are immutable in Python.

Q.16 What is a nested dictionary, and give an example of its use case ?
- A nested dictionary is a dictionary inside another dictionary. is like hospital patient data store in dictionry and in this patient other data like age,sex, and diagnose as a key and values are 24,male,ckd so that faster data lookup.

Q.17 Describe the time complexity of accessing elements in a dictionary ?
- Accessing elements in a dictionary is usually very fast because Python uses a hash table to find the value directly. In rare cases, when two keys try to occupy the same spot, finding the value can take longer.

Q.18 In what situations are lists preferred over dictionaries ?
- Lists are preferred over dictionaries when index-based access is required.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval ?
- Dictionaries are considered unordered because they store items based on hash values, not positions, so data must be accessed via keys rather than relying on indexing.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists retrieve data by position (index) and may require lot of time, while dictionaries retrieve data by unique keys using hash tables, making access faster and more efficient.

##Practical

In [ ]:
# Q.1 Write a code to create a string with your name and print it.
s = 'Ajay Gujarati'
print(s)

Ajay Gujarati

In [ ]:
#Q.2 Write a code to find the length of the string "Hello World".
q2 = "Hello World"
print(len(q2))

11

In [ ]:
# Q.3 Write a code to slice the first 3 characters from the string "Python Programming".
q3 = "Python Programming"
print(q3[0:3])

Pyt

In [ ]:
# Q.4 Write a code to convert the string "hello" to uppercase.
q4 = "hello"
print(q4.upper())

HELLO

In [ ]:
# Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
q5 = "I like apple"
print(q5.replace("apple","orange"))

I like orange

In [ ]:
# Q.6 Write a code to create a list with numbers 1 to 5 and print it.
q6 =[]
for i in range(1,6):
  q6.append(i)
print(q6)

q6_comp = [i for i in range(1,6)]
print(q6_comp)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]
q7 = [1,2,3,4]
q7.append(10)
print(q7)

[1, 2, 3, 4, 10]

In [ ]:
# Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
q8 = [1,2,3,4,5]
q8.remove(3)
print(q8)

[1, 2, 4, 5]

In [ ]:
# Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
q9 =['a', 'b', 'c', 'd']
print(q9[1])

b

In [ ]:
# Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].
q10 = [10, 20, 30, 40, 50]
print(q10[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
q11 = (100,200,300)
print(q11)

(100, 200, 300)

In [ ]:
# Q.12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
q12 = ('red','green','blue','yellow')
print(q12[-2])
print(q12[2]) # positive indexing

blue
blue

In [ ]:
# Q.13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
q13 = (10,20,5,15)
print(min(q13))

5

In [ ]:
# Q.14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
q14 = ('dog','cat','rabbit')
print(q14.index('cat'))

1

In [ ]:
# Q.15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
q15 = ('apple','banana','kiwi','lichi','mango')
print('kiwi' in q15)

True

In [ ]:
# Q.16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
q16 = {'a','b','c'}
print(q16)

{'c', 'b', 'a'}

In [ ]:
# Q.17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
setq17 = {1,2,3,4,5}
setq17.clear()
print(setq17)

set()

In [ ]:
# Q.18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
setq18 = {1,2,3,4}
setq18.remove(4)
print(setq18)

{1, 2, 3}

In [ ]:
# Q. 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))
print(set1|set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# Q.20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))
print(set1&set2)

{2, 3}
{2, 3}

In [ ]:
# Q. 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
q21 = {'name':'Ajay','age':28,'city':'rajkot'}
print(q21)

{'name': 'Ajay', 'age': 28, 'city': 'rajkot'}

In [ ]:
# Q.22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
q22 = {'name':'John','age':25}
q22['country'] = 'USA'
print(q22)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q.23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
q23 = {'name':'Alice','age':30}
print(q23['name'])

Alice

In [ ]:
# Q. 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
q24 = {'name':'Bob','age':22,'city':'New York'}
print(q24.pop('age'))
print(q24)

22
{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q.25 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
q25 = {'name':'Alice','city':'Paris'}
print('city' in q25)

True

In [1]:
#Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.
listq = [1,2,3,4]
tupleq = (1,2,3,4)
dictq = {'name':'Ajay','age':28}
print(listq)
print(tupleq)
print(dictq)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Ajay', 'age': 28}

In [13]:
#Q.27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
q27 = random.sample(range(1, 101), 5)
print(q27)
print(sorted(q27))
print(sorted(q27)) #replaced

[59, 79, 39, 72, 24]
[24, 39, 59, 72, 79]
[24, 39, 59, 72, 79]

In [14]:
#Q.28 Write a code to create a list with strings and print the element at the third index.
q28 = ['a','b','c','d','e']
print(q28[3])

d

In [15]:
#Q.29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [17]:
#Q.30. Write a code to convert a list of strings into a set.
q30 = ['a','b','c','d','e']
set(q30)

{'a', 'b', 'c', 'd', 'e'}